.day {
	padding: 1px;
	margin: 1px;
	clear: both;
	text-align: left;
	vertical-align: top;
}

.dayOfWeek {
	font-weight: bold;
	margin: 0;
}

.date {
	margin: 0;
}

.dayContents {
	padding: 0;
	margin-left: 2px;
	display: inline-block;
	width: 80vw;
}

button.control {
  font-size: 6px;
  width: 12px;
  height: 12px;
  margin: 0px 2px 0px 0px;
  padding: 0px;
  vertical-align: middle;
}